* {
	margin: 0;
}
body {
	margin: auto;
	font-family: lato, helvetica sans serif;
	margin-top: 30%;
	background-color: #000;
	color: #fff;
	width: 80%;
	font-size: 24px;
}
p {
	font-size: 40px !important;
}
a {
	color: #CE9374;
	text-decoration: none;

}
.text2 {
	margin-top: 20px;
}
footer {
	margin-top: 7%;
}
footer a {
	margin-right: 10px;
	font-size: 20px !important;
}
.icons {
	display: none;
}
.fa {
	font-size: 24px;
	color: #CE9374;
	margin-right: 10px;
}
@media screen and (max-width: 600px) {
    .social {
        display: none;
    }
    .icons {
    	display: inline-block;
    }
}